<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.jwvisit.dao.VisitDaoDao" >
  
  <insert id="createCard" parameterType="com.jw.jwvisit.model.visitinfo" >
    insert into visitinfo (visitedname,visitedpnum,visitedevent,visittime,lefttime,visitorname,identitynum,platenum,visitorpnum,imgUrl)
    values (#{visitedname},#{visitedpnum},#{visitedevent},#{visittime},#{lefttime},#{visitorname},#{identitynum},#{platenum},#{visitorpnum},#{imgUrl})
  </insert>
  
</mapper>